[Unit]
Description=Web fan webthings service
Wants=network.target
After=network.target

[Service]
ExecStart=/home/pi/.nvm/versions/node/v8.12.0/bin/node /home/pi/HomeAutomation/src/WebFan/lib/index.js
Restart=on-failure
User=pi
Group=pi
SyslogIdentifier=webfan-example
# Use SIGINT to stop
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
